body{
    padding: 0;
    margin: 0;
}

.topBar{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-img{
    width: 100%;
    height: 15rem;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Iconimg{
    height: 1rem;
    width: 1rem;
    padding-right: 0.5rem;
    padding-top: 0.3rem;
}

.subTitle{
    font-family: cursive;
    padding-bottom: 0.6rem;
}

.Iconimg2{
    height: 1.5rem;
    width: 1.5rem;
    padding-right: 0.5rem;
    padding-top: 0.3rem;
    padding-left: 1rem;
    margin-right: 1rem;
}

.instruct{
    padding-top: 2.5rem;
    width: 25rem;
    height: 12rem;
    text-align: left;
    margin-left: 6.5rem;
}

.toDoListContainer{
    width: 86%;
    height: 12rem;
    text-align: left;
    margin-left: 6.5rem;
    display: flex;
    flex-wrap: wrap;
}

/* div{
    border: green 1px solid;
} */

.toDoBlock{
    width: 14rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding:0;
    margin-left: 1.8rem;
    margin-top: 0.8;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

h5{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    color: rgb(64, 44, 27);
    margin-top: 0.3rem;
}

.group1Color{
    background: rgb(200, 225, 253);
}

.group2Color{
    background: rgb(219, 237, 219);
}

.group3Color{
    background: rgb(255, 226, 221);
}

.group4Color{
    background: rgb(253, 236, 200);
}

.group5Color{
    background: rgb(232, 222, 238);
}


.groupBtn{
    width: 2rem;
    height: 2rem;
    text-align: center;
    font-size: 1.4rem;
    color: #9C9C98;
}

.groupBtn:hover{
    background-color: rgba(55,53,47,0.08);
}

.inputBtn{
    display: none;
}

.taskBox{
    width: 10rem;
    height: 2rem;
    margin-top: 0.5rem;
    outline: none;
    border: none;
    color:black;
    border-radius: 3px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.taskBox:hover{
    background-color: rgba(55,53,47,0.08);
}

.taskBox::placeholder{
    color: rgba(55, 53, 47, 0.4);
}

.submitGroupBtn{
    position:relative;
    left: -13%;
    top: 4px;
    width: 4rem;
    height: 1.6rem;
    background-color: rgb(46, 170, 220);
    border-radius: 3px;
    box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px inset, rgb(15 15 15 / 10%) 0px 1px 2px;
    border: none;
    color: white;
    align-items: center;
}

.submitGroupBtn:hover{
    background-color: rgb(6, 156, 205);
}

#group, #group2, #group3, #group4, #group5{
    position:relative;
    left: 10%;
    top: 2%;
    width: 15rem;
    height: 2.3rem;
    color: black;
    border: 1.5px #DEDEDE solid;
    background-color: #F7F7F5;
    box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px, rgb(15 15 15 / 10%) 0px 2px 4px;
    outline: none;
    font-family: sans-serif;
    border-radius: 3px;
}

#group::placeholder, #group2::placeholder{
    color: #B0B0AD;
}

span{
    padding-top: 0.2rem;
    margin-left: 0.5rem;
}

p{
    margin-top: -0.6rem;
    color: #373630;
}

hr{
    width:89%; 
    background-color: black;
}

li {
    width: 130%;
    height: 2rem;
    border: 1.5px #DEDEDE solid;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: -2rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px, rgb(15 15 15 / 10%) 0px 2px 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}


li:hover{
    background-color: rgba(82, 79, 70, 0.03) ;
}

li:hover .menuBtn{
    display: block; 
}

li:hover .popWindow{
    display: block;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}



   .menuBtn{
    background-color: rgb(255, 255, 255);
    width: 1.7rem;
    height: 1.5rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    border: #DEDEDE 1px solid;
    padding-bottom: 10px;
    font-weight: 800;
    font-size: 28px;
    color: grey;
    padding-left: 0;
    padding-right: 0;
    align-self: center;
    border-radius: 3px;
    display: none;
    box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px, rgb(15 15 15 / 10%) 0px 2px 4px;
   }

   .menuBtn:hover{
    background-color: rgba(82, 79, 70, 0.05) ;
   }

   h6{
       margin-bottom: 0rem;
       margin-top: -0.3rem;
       padding-bottom: 2rem;
   }

   .popWindow{
    display: flex;   
    border: #DADADA 1px solid;
    flex-direction: column;
    width: 8rem;
    box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px, rgb(15 15 15 / 10%) 0px 2px 4px;
    border-radius: 3px;
    display: block;
    position: relative;
    top: -34px;
    left: 13px;
    display: block;
    background-color: #FFFF;
   }

   h3{
       padding-left: 0rem;
       font-weight: 200;
       font-size: 0.8rem;
       margin-top: 0.2rem;
       margin-bottom: 0.4rem;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       color: #373630;
       position: relative;
       left:0%;
   }

   .tab:hover{
    background-color: rgba(55,53,47,0.08);
   }
   
   input{
       margin-bottom: 0.4rem
   }